﻿body {
}

#navigation {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#map_iframe {
    height: 100%;
    width: 100%;
    min-height: 100%;
}

#sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 75%;
}


/* Проценты и краткая характеристика места */
div.rating_report {
    text-align: center;
}

div.rating_percent {
    font-size: 24pt;
    color: #FFF;
    height: 40px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 5px;
}

p.rating_percent {
    line-height: 0;
    margin: 0;
}

div.rating_comment {
    font-size: 15pt;
    color: darkgrey;
    height: auto;
    line-height: 1.3em;
    padding-top: 5px;
    padding-bottom: 10px;
}

/*  комментарий оценки
    сделала текст жирней, чтобы выделить относительно списка объектов
*/
p.rating_comment {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

/* Расшарить результат */
/* Позиционируем как блок с шириной 100% */
div.social_sharing {
    right: 100%;
    display: block;
    text-align: center;
}

img.social_sharing {
    display: inline-block;   /* задает отображение как текст */
    height: 32px;
    width: 32px;
    margin-left: 3%;
}
img.social_sharing:hover {
    opacity: 0.5;
}
img.social_sharing:active {
    top: 3px;
}
/* Подробная характеристика */
div.rating_stats {
    text-align: center;
	overflow: auto;
}

/* описание объектов */
div#found_objects {
    font-size: 12pt;
    line-height: 1em;
    text-align: left;
    padding-left: 3px;
    font-weight: 300;
    color: #dddddd;
}

/* описание объектов
   при наведении белые и подчеркиваются*/
div#found_objects p:hover {
    text-decoration: underline;
    color: #ffffff;;
}


/* загрузочный экран */
div.preloader {
    position: absolute;
    display: block;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
}

div.preloader .container {
    width: auto;
    height: 70%;
    overflow: auto;
    margin: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 2;
    text-align: center;
}
