@font-face {
	font-family: 'map-icons';
	src:url('../fonts/map-icons.eot');
	src:url('../fonts/map-icons-.eot#iefix') format('embedded-opentype'),
		url('../fonts/map-icons.woff') format('woff'),
		url('../fonts/map-icons.ttf') format('truetype'),
		url('../fonts/map-icons.svg#map-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: 'map-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.map-icon-map-pin, .map-icon-expand, .map-icon-fullscreen, .map-icon-square-pin, .map-icon-route-pin, .map-icon-sheild, .map-icon-liquor-store, .map-icon-bicycle-store, .map-icon-hardware-store, .map-icon-insurance-agency, .map-icon-lawyer, .map-icon-real-estate-agency, .map-icon-art-gallery, .map-icon-campground, .map-icon-bakery, .map-icon-bar, .map-icon-amusement-park, .map-icon-aquarium, .map-icon-airport, .map-icon-bank, .map-icon-car-rental, .map-icon-car-dealer, .map-icon-hospital, .map-icon-hair-care, .map-icon-gym, .map-icon-grocery-or-supermarket, .map-icon-general-contractor, .map-icon-pharmacy, .map-icon-point-of-interest, .map-icon-political, .map-icon-post-box, .map-icon-health, .map-icon-post-office, .map-icon-real-estate-agency-copy, .map-icon-hindu-temple, .map-icon-restaurant, .map-icon-female, .map-icon-male, .map-icon-zoo, .map-icon-veterinary-care, .map-icon-car-repair, .map-icon-university, .map-icon-travel-agency, .map-icon-transit-station, .map-icon-beauty-salon, .map-icon-electronics-store, .map-icon-search, .map-icon-zoom-out-alt, .map-icon-movie-rental, .map-icon-atm, .map-icon-jewelry-store, .map-icon-car-wash, .map-icon-unisex, .map-icon-rv-park, .map-icon-school, .map-icon-clothing-store, .map-icon-laundry, .map-icon-casino, .map-icon-place-of-worship, .map-icon-furniture-store, .map-icon-zoom-in-alt, .map-icon-zoom-in, .map-icon-department-store, .map-icon-fire-station, .map-icon-church, .map-icon-library, .map-icon-shopping-mall, .map-icon-local-government, .map-icon-spa, .map-icon-convenience-store, .map-icon-police, .map-icon-route, .map-icon-zoom-out, .map-icon-location-arrow, .map-icon-postal-code, .map-icon-locksmith, .map-icon-doctor, .map-icon-mosque, .map-icon-stadium, .map-icon-storage, .map-icon-movie-theater, .map-icon-electrician, .map-icon-moving-company, .map-icon-postal-code-prefix, .map-icon-crosshairs, .map-icon-compass, .map-icon-dentist, .map-icon-plumber, .map-icon-museum, .map-icon-finance, .map-icon-parking, .map-icon-courthouse, .map-icon-accounting, .map-icon-store, .map-icon-subway-station, .map-icon-natural-feature, .map-icon-florist, .map-icon-food, .map-icon-night-club, .map-icon-synagogue, .map-icon-taxi-stand, .map-icon-painter, .map-icon-train-station, .map-icon-pet-store, .map-icon-gas-station, .map-icon-funeral-home, .map-icon-cemetery, .map-icon-bowling-alley, .map-icon-roofing-contractor, .map-icon-physiotherapist, .map-icon-embassy, .map-icon-city-hall, .map-icon-bus-station, .map-icon-park, .map-icon-lodging, .map-icon-toilet, .map-icon-circle, .map-icon-square-rounded, .map-icon-square, .map-icon-book-store, .map-icon-cafe, .map-icon-wheelchair, .map-icon-volume-control-telephone, .map-icon-sign-language, .map-icon-low-vision-access, .map-icon-open-captioning, .map-icon-closed-captioning, .map-icon-braille, .map-icon-audio-description, .map-icon-assistive-listening-system, .map-icon-abseiling, .map-icon-tennis, .map-icon-skateboarding, .map-icon-playground, .map-icon-inline-skating, .map-icon-hang-gliding, .map-icon-climbing, .map-icon-baseball, .map-icon-archery, .map-icon-wind-surfing, .map-icon-scuba-diving, .map-icon-sailing, .map-icon-marina, .map-icon-canoe, .map-icon-boat-tour, .map-icon-boat-ramp, .map-icon-swimming, .map-icon-whale-watching, .map-icon-waterskiing, .map-icon-surfing, .map-icon-rafting, .map-icon-kayaking, .map-icon-jet-skiing, .map-icon-fishing-pier, .map-icon-fish-cleaning, .map-icon-diving, .map-icon-boating, .map-icon-fishing, .map-icon-cross-country-skiing, .map-icon-skiing, .map-icon-snowmobile, .map-icon-snowboarding, .map-icon-snow, .map-icon-snow-shoeing, .map-icon-sledding, .map-icon-ski-jumping, .map-icon-ice-skating, .map-icon-ice-fishing, .map-icon-chairlift, .map-icon-golf, .map-icon-horse-riding, .map-icon-motobike-trail, .map-icon-trail-walking, .map-icon-viewing, .map-icon-walking, .map-icon-bicycling {
	font-family: 'map-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.map-icon-male:before {
	content: "\e027";
}
.map-icon-funeral-home:before {
	content: "\e06b";
}
.map-icon-gym:before {
	content: "\e01a";
}
.map-icon-post-box:before {
	content: "\e020";
}
.map-icon-zoom-out-alt:before {
	content: "\e031";
}
.map-icon-rv-park:before {
	content: "\e037";
}
.map-icon-school:before {
	content: "\e038";
}
.map-icon-shopping-mall:before {
	content: "\e044";
}
.map-icon-crosshairs:before {
	content: "\e056";
}
.map-icon-zoom-in-alt:before {
	content: "\e03e";
}
.map-icon-transit-station:before {
	content: "\e02d";
}
