﻿body {
}

#navigation {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#map_iframe {
    height: 100%;
    width: 100%;
    min-height: 100%;
}

#sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 80%;
}

/* Проценты и краткая характеристика места */
div.rating_report {
    text-align: center;
}

div.analyze_button {
}

div.rating_percent {
    font-size: 40pt;
    color: #FFF;
    height: 20px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 5px;
}

p.rating_percent {
    line-height: 0;
    margin: 0;
}

div.rating_comment {
    font-size: 15pt;
    color: darkgrey;
    height: auto;
    line-height: 1.3em;
    padding-top: 5px;
    padding-bottom: 10px;
}
p.rating_comment {
    margin: 0;    
}
/* Расшарить результат */
div.social_sharing {
    text-align: center;
}

img.social_sharing {
    height: 50px;
    width: 50px;
}
/* Подробная характеристика */
div.rating_stats {
    text-align: center;
	overflow: auto;
}

#found_objects {
    font-size: 12pt;
    line-height: 1em;
    text-align: left;
    padding-left: 3px;
    color: darkgrey;
}
